.img2{
    margin-right: 50%;
   margin-top: 0%;
   margin-bottom: 60%;
}
/* // useEffect(() => {
    //     axios.get('http://localhost:8096/onlinesweetmart-user/getusers/all')
    //         .then(res => {
    //             console.log(res)
    //             setDatabase(res.data)
    //         })
    //         .catch(err => {
    //             console.log(err)
    //         })
    // }, []) */